.beatboxer-card{
    height: 520px;
    width: 400px;
    background-color: #07182e;
    color: white;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    h1,h2,h3,p,ul,li{
      background-color: rgba(40, 44, 60, 0);
    }
    &__image{
        padding: 0;
        height: 190px;
        width: 397px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        margin: -50px -35px; 
    }

    &__title{
        margin-top: 50px;
        text-decoration: underline;
        font-weight: bolder;
    }

    &__achievements{
        height: 90px;
        overflow-y: scroll;
        background-color: rgba(40, 44, 60, 0);
    }
    &__achievements::-webkit-scrollbar{
        display: none;
    }

    &__sounds{
        height: 40px;
        overflow-y: scroll;
        background-color: rgba(40, 44, 60, 0);
    }
    &__sounds::-webkit-scrollbar{
        display: none;
    }
}

.beatboxer-card:hover{
    transform: translateY(-1.5%);
    transition: 250ms ease-in-out;
}