.create-page {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  color: white;

  &__input-container {
    height: 50px;
    width: 220px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__achievements {
    display: flex;
    width: 80vw;
    overflow-x: scroll;
  }
  .btn-submit{
    position: absolute;
    top: 95%;
  }
}


