.home-page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    h1{
        color: white;
    }
    &__searchbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__label{
        color: white;
        font-size: 30px;
    }
    &__input{
        height: 40px;
        width: 200px;
  
        border: 2px solid gray;
        border-radius: 5px;
        padding: 5px;
    }

    &__cards{
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }
}


