.home-page{
    background-color: #040f1c;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    h1{
        color: white;
    }
    &__searchbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__label{
        color: white;
        font-size: 30px;
    }
    &__input{
        height: 40px;
        width: 200px;
        background-color: rgba(0,0,0,0);
        border: 2px solid gray;
        border-radius: 5px;
        padding: 5px;
    }

    &__header{
        display: flex;
        height: 40px;
        width: 100%;
        background-color: #1f1a41;
        margin-bottom: 40px;
    }
    &__cards{
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }
}


