.home-page{

    background-color: #080710;
 
    height: 100vh;
    display: flex;
  flex-direction: column;
    h1{
        color: white;
    }

    &__header{
        display: flex;
        height: 40px;
        width: 100%;
        background-color: #1f1a41;
        margin-bottom: 40px;
    }
    &__cards{
        display: flex;
        gap: 10px;
    }
}


