$mainColor: #04101f;

$mainColorLight: #5767aa;
$secondaryColor: #db2b39;
$textColor: #eee;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: $mainColor;
  color: $textColor;
  z-index: 2;
  white-space: nowrap;
  margin-bottom: 2%;
  a {
    margin: 0 1rem;
    color: $textColor;
    text-decoration: none;
  }
   a:hover {
    color: $secondaryColor;
  }
}